<nav class="navbar bg-primary">
  <div class="d-flex w-100">
  <%= link_to :back do %>
    <i class="fas fa-arrow-left text-white fs-5 px-2"></i>
  <% end %>
    <div class="w-100 text-center"><h6 class="text-white">New Entity</h6>
    </div>
  </div>
</nav>

<%= form_with(model: entity) do |form| %>
  <div>
    <%= form.text_field :name, class: "form-control w-100", placeholder: "Name" %>
  </div>

  <div>
    <%= form.number_field :amount, class: "form-control w-100", placeholder: "Amount" %>
  </div>

  <%= form.select :group_ids, @groups.collect {|g| [g.name, g.id]}, { include_blank: false }, required: true, class:"py-2 appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline", multiple: true %>

  <div class="text-center m-3">
    <%= form.submit "Save", class: "btn btn-primary" %>
  </div>

  <% if entity.errors.any? %>
  <div style="color: red">
    <h2><%= pluralize(entity.errors.count, "error") %> prohibited this entity from being saved:</h2>

    <ul>
      <% entity.errors.each do |error| %>
        <li><%= error.full_message %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<% end %>


