<nav class="navbar bg-primary">
    <div class="container-fluid d-flex align-items-baseline">
      <%= link_to :back do %>
        <i class="fas fa-arrow-left text-white fs-5 px-2"></i>
      <% end %>
      <h6 class="text-white">Transactions</h6>
      <% if user_signed_in? %>   
        <%= button_to "Sign out", destroy_user_session_path, :method => :delete, class: 'btn-primary border border-0'%>
      <% end %>
    </div>
  </nav>

  <div class="border border-1 d-flex m-2">
    <img src="<%= @group.icon %>" width="80px"/>
    <h3 class="m-2"><%= @group.name %></h3>
    <div class="ms-auto pt-5 pe-3 fw-bolder">
       $<%= @group.entities.inject(0) { |sum, e| sum + (e.amount) }%>
    </div>
  </div>

<div id="groups">
  <% @group.entities.each do |entity| %>
    <%= link_to entity, class: "text-reset text-decoration-none" do %>
    <div class="border border-1 d-flex mx-4 my-3">
      <h3 class="m-2"><%= entity.name %></h3>
      <h3 class="ms-auto me-2 mt-2">$<%= entity.amount %></h3>
    </div>
    <% end %>
  <% end %>
</div>
<p style="color: green"><%= notice %></p>
<div class="fixed-bottom">
  <%= link_to "Add New Transaction", new_entity_path, class: "w-100 btn btn-lg btn-success" %>
</div>

